@font-face {
font-family: Agipo;
src: url(../font/agipo_regular.otf);
}

body
{
	text-align: center;
	font-family: "Agipo";
	font-size: 48px;
	line-height: 64px;
	color: red;
}
.underlined
{
	width:0.9em; 
	height:inherit;
	border-bottom: solid 1px #f00;
	padding-bottom: 1px;
	vertical-align: text-bottom;
}
